{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% block title %}
	<meta charset="utf-8">
	<title>Notas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="shortcut icon" href={% static "images/favicon.ico" %}>	
	{% endblock %}
	{% block content %}

	<div style="margin:auto; width:50%;">
		<h3 style="text-align:center">crear nota</h3>
		<form class="contact_field" method="POST">
			{% csrf_token %}
			{{ form.as_ul }}
			<button type="submit" class="contact_btn">Guardar</button>
		</form>
	</div>
	{% endblock %}
</html>