{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% block title %}
	<meta charset="utf-8">
	<title>Notas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="shortcut icon" href={% static "images/favicon.ico" %}>	
	{% endblock %}

	{% block content %}
	<a class="contact_btn" href="{% url 'notas:notaform' %}">Nueva nota</a>
	<h2>hacer un calendario con recordatorios y alarmas</h2>
	<div class="note-container">
		{% for nota in listanotas %}
		<div class="note">
		  <div class="note-header">
			<h3>{{ nota.titulo }}</h3>
			<div class="note-actions">
			  <a class="edit-button" href="{% url 'notas:edit' nota.id %}">Editar</a>
			  <a class="delete-button" href="{% url 'notas:delete' nota.id %}">Borrar</a>
			</div>
		  </div>
		  <div class="note-content">
			{{ nota.camponota }}
		  </div>
		  <div class="note-footer">
			<ul>
			  <li>Autor: {{ nota.autor }}</li>
			  <li>Categorías:
				{% for categoria in nota.categorias.all %}
				  {{ categoria.nombre }}
				{% endfor %}
			  </li>
			  <li>Fecha de creación: {{ nota.fecha_creacion }}</li>
			</ul>
		  </div>
		</div>
		{% endfor %}
	  </div>
		
	{% endblock %}
</html>