{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
	{% block title %}
	<meta charset="utf-8">
	<title>Notas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="shortcut icon" href={% static "images/favicon.ico" %}>	
	{% endblock %}
	{% block content %}

	<div style="margin:auto; width:50%;">
		<h3 style="text-align:center">crear nota</h3>
		<p>Se podria llevar el formulario a la lista y con desplegable abrir el formulario y que se guarde en el instante?</p>
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="buttons">Agregar</button>
		</form>
	</div>
	{% endblock %}
</html>