{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Home</title>
    {% endblock %}
  </head>

{% block content %}
<h1>Formulario - Editar Usuario</h1>
<h1>de {{user.get_username}}</h1>
  <body>
    <main>
        <div class="span9 contact_form">
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    {{miFormulario.as_table}}
                </table>
                <input class="btn btn-secondary" type="submit", value="Enviar">
            </form>
           
        </div>
    </main>
  </body>

</html>
{% endblock %}