{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
    <title>Contacto | list</title>
{% endblock %}
</head>

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Nombre y apellido</td>
            <td>Foto</td>
            <td>Num Tel</td>
            <td>Direccion</td>
            <td>Correo electronico</td>
            <td>Pagina Web</td>
            <td>Bio</td>
        </tr>
    </thead>
    <tbody>
    {% for contact in object_list %}
        <tr>
            <td>{{ contact.name }} {{ contact.last_name }}</td>
            <td>{{ contact.picture }}</td>
            <td>{{ contact.tel_number }}</td>
            <td>{{ contact.addres }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.web }}</td>
            <td>{{ contact.bio }}</td>
            <p>
                <a class="btn btn-primary" href="{% url 'contact:detail' contact.id %}">Ver</a> | 
                <a class="btn btn-primary" href="{% url 'contact:edit' contact.id %}">Editar</a> | 
                <a class="btn btn-primary" href="{% url 'contact:delete' contact.id %}">Borrar</a> 
            </p>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
</html>