{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Contactanos</title>
    {% endblock %}
  </head>

{% block content %}
  <body>
    <main>
      <div style="margin:auto; width:50%;">
        <h1>Contactanos vía mail</h1>
      </div>
        <!-- CONTACT FORM -->
        <form id="contact-form-face" class="clearfix" action="#" method="POST" style="margin:auto; width:50%;">
            <table>
            {% csrf_token %}
        
            {{form.as_table}}
            
            </table>
            <button type="submit">Enviar correo</button>
        </form>
    </main>
  </body>

</html>
{% endblock %}