{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Contactanos</title>
    {% endblock %}
  </head>

{% block content %}
  <body>
    <main>
      <div style="margin:auto; width:50%;">
        <h3 style="text-align:center">Contactanos vía mail</h3>
      </div>
        <!-- CONTACT FORM -->
        <form id="contact-form-face" class="clearfix" action="#" method="POST" style="margin:auto; width:50%;">
            <table>
            {% csrf_token %}
            {{form|crispy}}
            </table>
            <button type="submit">Enviar correo</button>
        </form>
    </main>
  </body>

</html>
{% endblock %}