{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Home</title>
    {% endblock %}
  </head>

{% block content %}
  <body class="background-content">
    <main>
      <div>
        <h5>This is a customized input from template</h5>
        <div class="input-group dbdp">
            {% include 'django/forms/widgets/text.html' %}
            <div class="input-group-addon input-group-append input-group-text">
                <i class="{{ addon_icon_class }}"></i>
            </div>
        </div>
      </div>
    </main>
  </body>

</html>
{% endblock %}