{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Home</title>
    {% endblock %}
  </head>

{% block content %}
  <section>
    <main>
      <div>
        <h1>Welcome to My Website</h1>
        <img src = {% static "georgi.jpeg" %} alt="Foto de Georgi" style="width: 25%">
      </div>
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iKBCVZqqooY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </main>
  </section>

</html>
{% endblock %}