{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
    <title>Detalle | list</title>
{% endblock %}
</head>

{% block content %}
<table class="table table-bordered">
  <thead>
      <tr class="texto-destacado">
          <td >Nombre y apellido</td>
          <td>Foto</td>
          <td>Num Tel</td>
          <td>Direccion</td>
          <td>Correo electronico</td>
          <td>Pagina Web</td>
          <td>Bio</td>
      </tr>
  </thead>
  <tbody>
  {% for contact in object_list %}
      <tr>
          <td>{{ contact.name }} {{ contact.last_name }}</td>
          <td><img width= "60px" height="60px" src="{{ contact.picture.url}}"></td>
          <td>{{ contact.tel_number }}</td>
          <td>{{ contact.addres }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.web }}</td>
          <td>{{ contact.bio }}</td>
          <p>
              <a class="btn btn-primary" href="{% url 'contact:list' %}">Regresar a la lista de contactos</a>
          </p>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
</html>