{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
  	<head>
		<meta charset="utf-8">
		<title>miblog|{{ day|year }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  	</head>
{% endblock %}
{% block contenido %}

    <h3> Entradas del año:

{% for entrada in entradas %}

    {% ifchanged %}{{entrada.fecha|date:"Y"}}</h3>{% endifchanged %}

   <li> {{ forloop.counter }}<a href="{{entrada.get_absolute_url }}">
{{ entrada }}</a></li>
{% endfor %}
   </ul>

{% endblock %}