{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
<head>
	<meta charset="utf-8">
	<title>White | Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="shortcut icon" href={% static "images/favicon.ico" %}>	
</head>
{% endblock %}
{% block content %}
		<!-- PORTFOLIO -->
		<section id="portfolio">
			
			<!-- CONTAINER -->
			<div class="container">
				
				<!-- ROW -->
				<div class="row">
					
					<!-- SIDEBAR -->
					<div class="sidebar col-lg-4 col-md-4 pull-right padbot50">
						<!-- TEXT WIDGET -->
						<div class="sidepanel widget_text">
							<div class="single_portfolio_post_title">Rihanna's Costume Designer Comes</div>
							<p>On Tuesday, the daughters of Texas state senator Wendy Davis defended their mom against charges that she’s been smudging her biography to make it look like she was a more involved mom than she actually was. Davis, who is running for governor, has been under fire since a Dallas Morning News article accused her of “blurring” facts, like exactly when she got divorced and how long her family lived in a trailer park.</p>
						</div><!-- //TEXT WIDGET -->
						
						<hr>
						
						<!-- INFO WIDGET -->
						<div class="sidepanel widget_info">
							<ul class="work_info">
								<li>Location: <a href="javascript:void(0);" >Photo Studio,</a> <a href="javascript:void(0);" >New York</a></li>
								<li>Model: <a href="javascript:void(0);" >Anna Smith</a></li>
								<li>Style: <a href="javascript:void(0);" >Fashion Style</a></li>
							</ul>
							
							<ul class="shared">
								<li><a href="javascript:void(0);" ><i class="fa fa-twitter"></i></a></li>
								<li><a href="javascript:void(0);" ><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0);" ><i class="fa fa-google-plus"></i></a></li>
								<li><a href="javascript:void(0);" ><i class="fa fa-pinterest-square"></i></a></li>
							</ul>
						</div><!-- //INFO WIDGET -->
					</div><!-- //SIDEBAR -->
					
					
					<!-- PORTFOLIO BLOCK -->
					<div class="portfolio_block col-lg-8 col-md-8 pull-left padbot50">
						
						<!-- SINGLE PORTFOLIO POST -->
						<div class="single_portfolio_post clearfix" data-animated="fadeInUp">
							
							<!-- PORTFOLIO SLIDER -->
							<div class="flexslider portfolio_single_slider">
								<ul class="slides">
									<li><img src="images/portfolio/1.jpg" alt="" /></li>
									<li><img src="images/portfolio/1_2.jpg" alt="" /></li>
									<li><img src="images/portfolio/1_3.jpg" alt="" /></li>
									<li><img src="images/portfolio/1_4.jpg" alt="" /></li>
								</ul>
							</div><!-- //PORTFOLIO SLIDER -->
						</div><!-- //SINGLE PORTFOLIO POST -->
					</div><!-- //PORTFOLIO BLOCK -->
				</div><!-- //ROW -->
			</div><!-- //CONTAINER -->
			
			
			<!-- CONTAINER -->
			<div class="container">
				<h2><b>Featured</b> Works</h2>
			</div><!-- //CONTAINER -->
			
			<div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
				<!-- PROJECTS SLIDER -->
				<div class="owl-demo owl-carousel projects_slider">
					
					<!-- work1 -->
					<div class="item">
						<div class="work_item">
							<div class="work_img">
								<img src="images/works/1.jpg" alt="" />
								<a class="zoom" href="!projects/project1.html" ></a>
							</div>
							<div class="work_description">
								<div class="work_descr_cont">
									<a href="portfolio-post.html" >Ginger Beast</a>
									<span>17 March, 2041</span>
								</div>
							</div>
						</div>
					</div><!-- //work1 -->
					
					<!-- work2 -->
					<div class="item">
						<div class="work_item">
							<div class="work_img">
								<img src="images/works/2.jpg" alt="" />
								<a class="zoom" href="!projects/project2.html" ></a>
							</div>
							<div class="work_description">
								<div class="work_descr_cont">
									<a href="portfolio-post.html" >Ginger Beast</a>
									<span>17 March, 2041</span>
								</div>
							</div>
						</div>
					</div><!-- //work2 -->
					
					<!-- work3 -->
					<div class="item">
						<div class="work_item">
							<div class="work_img">
								<img src="images/works/3.jpg" alt="" />
								<a class="zoom" href="!projects/project3.html" ></a>
							</div>
							<div class="work_description">
								<div class="work_descr_cont">
									<a href="portfolio-post.html" >Ginger Beast</a>
									<span>17 March, 2041</span>
								</div>
							</div>
						</div>
					</div><!-- //work3 -->
					
					<!-- work4 -->
					<div class="item">
						<div class="work_item">
							<div class="work_img">
								<img src="images/works/4.jpg" alt="" />
								<a class="zoom" href="!projects/project4.html" ></a>
							</div>
							<div class="work_description">
								<div class="work_descr_cont">
									<a href="portfolio-post.html" >Ginger Beast</a>
									<span>17 March, 2041</span>
								</div>
							</div>
						</div>
					</div><!-- //work4 -->
					
					<!-- work5 -->
					<div class="item">
						<div class="work_item">
							<div class="work_img">
								<img src="images/works/5.jpg" alt="" />
								<a class="zoom" href="!projects/project5.html" ></a>
							</div>
							<div class="work_description">
								<div class="work_descr_cont">
									<a href="portfolio-post.html" >Ginger Beast</a>
									<span>17 March, 2041</span>
								</div>
							</div>
						</div>
					</div><!-- //work5 -->
					
					<!-- work6 -->
					<div class="item">
						<div class="work_item">
							<div class="work_img">
								<img src="images/works/6.jpg" alt="" />
								<a class="zoom" href="!projects/project6.html" ></a>
							</div>
							<div class="work_description">
								<div class="work_descr_cont">
									<a href="portfolio-post.html" >Ginger Beast</a>
									<span>17 March, 2041</span>
								</div>
							</div>
						</div>
					</div><!-- //work6 -->
					
					<!-- work7 -->
					<div class="item">
						<div class="work_item">
							<div class="work_img">
								<img src="images/works/7.jpg" alt="" />
								<a class="zoom" href="!projects/project7.html" ></a>
							</div>
							<div class="work_description">
								<div class="work_descr_cont">
									<a href="portfolio-post.html" >Ginger Beast</a>
									<span>17 March, 2041</span>
								</div>
							</div>
						</div>
					</div><!-- //work7 -->
				</div><!-- //PROJECTS SLIDER -->
			</div>
		</section><!-- //PORTFOLIO -->
{% endblock %}
</html>