{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
    <title>Contacto | list</title>
{% endblock %}
</head>

{% block content %}
<!-- SEARCH FORM -->
<div id="search-form" class="pull-right">
	<form method="get" action="{% url 'contact:list' %}">
		<input type="text" name="q" placeholder="Buscar contacto" value="{{ search_query }}" />
	</form>
</div><!-- SEARCH FORM -->
<table class="table table-bordered">
    <thead>
        <tr class="texto-destacado">
            <td >Nombre y apellido</td>
            <td>Foto</td>
            <td>Num Tel</td>
            <td>Direccion</td>
            <td>Correo electronico</td>
            <td>Pagina Web</td>
            <td>Bio</td>
        </tr>
    </thead>
    <tbody>
    {% for contact in object_list %}
        <tr>
            <td>{{ contact.name }} {{ contact.last_name }}</td>
            <td><img width= "60px" height="60px" src="{{ contact.picture.url}}"></td>
            <td>{{ contact.tel_number }}</td>
            <td>{{ contact.addres }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.web }}</td>
            <td>{{ contact.bio }}</td>
            <td>
                <a class="contactlist_btn" href="{% url 'contact:detail' contact.id %}">Ver</a> | 
                <a class="contactlist_btn" href="{% url 'contact:edit' contact.id %}">Editar</a> | 
                <a class="contactlist_btn" href="{% url 'contact:delete' contact.id %}">Borrar</a> 
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
</html>