{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block title %}
    <title>Detalle del contacto</title>
{% endblock %}
</head>

{% block content %}
<table class="table table-bordered">
  <thead>
      <tr class="texto-destacado">
          <td >Nombre y apellido</td>
          <td>Foto</td>
          <td>Num Tel</td>
          <td>Direccion</td>
          <td>Correo electronico</td>
          <td>Pagina Web</td>
          <td>Bio</td>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{ object.name }} {{ object.last_name }}</td>
          <td><img width= "60px" height="60px" src="{{ object.picture.url}}"></td>
          <td>{{ object.tel_number }}</td>
          <td>{{ object.addres }}</td>
          <td>{{ object.email }}</td>
          <td>{{ object.web }}</td>
          <td>{{ object.bio }}</td>
      </tr>
  </tbody>
</table>
<p>
    <a class="btn btn-primary" href="{% url 'contact:list' %}">Regresar a la lista de contactos</a>
</p>
{% endblock %}
</html>