{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Editar perfil</title>
    {% endblock %}
  </head>
  {% block content %}
  <section  class="form-perfil">
    <div>
        <h5>Editar perfil de {{ request.user.username }}</h5>
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ user_form.as_ul }}
                  {{ profile_form.as_ul }}
                  {{ avatar_form.as_ul }}
                    <input type="submit" value="Actualizar perfil" class="buttons">
                </form>
            </div>
    </div>
</section>
  {% endblock %}
</html>

<!-- <input type="text" name="nombre" value="" placeholder="Nombre" class="controls">
<input type="text" name="apellido" value="" placeholder="Apellido" class="controls">
<input type="email" name="mail" value="" placeholder="Direccion de correo electronico" class="controls">
<input type="text" name="bio" value="" placeholder="Biografia" class="controls-bio">
<input type="text" name="website" value="" placeholder="URL de tu sitio web" class="controls-url">
<input type="file" name="imagen" value="" class="file-input"> -->