{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
    <title>Login</title>
    {% endblock %}
  </head>

{% block content %}
  <body>
    <section class="form-login">

        <p>Formulario login</p>

        {% if form.errors %}
          <p>Tu nombre o contraseña son incorrectos, por favor intenta nuevamente.</p>
        {% endif %}
        
        <form method="post" action="{% url 'Login' %}">
          {% csrf_token %}
          <input type="text" name="username" value="" placeholder="Usuario" class="controls">
          <input type="password" name="password" value="" placeholder="Contraseña" class="controls">
          <input class="buttons" type="submit" name="" value="Ingresar">
        </form>
        
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'Register' %}">¿No tienes cuenta? Registrate.</a></p>
  </section>
  </body>

</html>
{% endblock %}
<!-- <p><a href="{% url 'password_done' %}">Olvidaste tu contraseña?</a></p> -->
